{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">

    <div class="card p-4 shadow" style="width:350px;">
        <h3 class="text-center">📚 BOOKGLANCE</h3>  

        {% if mensaje %}
            <div class="alert alert-info text-center">
                {{ mensaje }}
            </div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST" action="{{ url_for('login') }}">
            <input class="form-control mb-2" name="usuario" placeholder="Usuario" required>
            <input class="form-control mb-3" name="clave" type="password" placeholder="Contraseña" required>
            <button class="btn btn-dark w-100">Entrar</button>
        </form>

        <a href="{{ url_for('registro') }}" class="d-block text-center mt-2">Registrarse</a>
    </div>

</div>
{% endblock %}
