{% extends "base.html" %}

{% block content %}

<h2>📋 Lista de Tickets</h2>

<table class="table">
<thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>
</thead>
<tbody>
{% for t in tickets %}
    <tr>
        <td>#{{ t.id }}</td>
        <td>{{ t.fecha.strftime("%d/%m/%Y %H:%M") }}</td>
        <td>Gs. {{ "{:,}".format(t.total|int) }}</td>
       <td>
    <a href="{{ url_for('ver_ticket', id=t.id) }}" class="btn btn-info btn-sm">👁️ Ver</a>
    {% if session.get('role') == 'admin' %}
        <a href="{{ url_for('editar_ticket', id=t.id) }}" class="btn btn-warning btn-sm">✏️</a>
        <a href="{{ url_for('eliminar_ticket', id=t.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Eliminar ticket?')">🗑️</a>
    {% endif %}
</td>

    </tr>
{% endfor %}
</tbody>
</table>

<a href="/admin" class="btn btn-secondary">← Volver</a>

{% endblock %}
